.category {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}

.start,
.show-answers {
  font-size: 11vw;
  background: none;
  color: #fff;
  border: none;
  text-transform: uppercase;
}

.start:hover,
.show-answers:hover {
  color: var(--red);
}

.category__wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
