@import './reset.css';
@import './colors.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.title {
  font-size: 11vw;
  text-transform: uppercase;
  color: var(--purple);
}

.button {
  display: inline-block;
  padding: 20px 40px;
  background: var(--red);
  color: #000;
  border: none;
}

.button:hover {
  background: var(--orange);
}

.link {
  display: block;
  color: #fff;
  font-size: 4em;
  line-height: normal;
}

.link:hover {
  color: var(--green);
}

.select-category {
  position: relative;
  z-index: 1;
  padding: 0;
  display: block;
  color: #fff;
  font-size: 4em;
  line-height: normal;
  background: none;
  border: none;
}

.select-category:hover {
  color: var(--green);
}
