.question {
  width: 100%;
  flex-grow: 1;
  display: flex;
  padding: 3%;
}

.question--image .question__id {
  margin-bottom: 30px;
}

.question__id {
  flex-shrink: 0;
  color: #fff;
  font-size: 8em;
  text-transform: uppercase;
  white-space: nowrap;
}

.question__wrapper {
  width: 100%;
  padding: 0 0 0 5%;
  /* border: 1px solid red; */
}

.question__image {
  display: block;
  margin: 0 auto;
  height: 38em;
}
